.box_sp {
  display: none;
}

.box_pc {
  display: block;
}

/* responsive */
@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1150px) {
  #h_business .business_cont .business_list {
    margin: 0 -10px -30px;
  }

  #h_business .business_cont .business_list li {
    width: calc((100% - 60px) / 3);
    margin: 0 10px 30px;
  }

  #h_topics .topics_list li {
    width: calc(50% - 15px);
  }

  #h_works .works_list {
    margin: 0 -15px -30px;
  }

  #h_works .works_list li {
    width: calc((100% - 90px) / 3);
    margin: 0 15px 30px;
  }

  #h_aster .aster_list li {
    width: calc(50% - 25px);
  }
}

@media screen and (min-width: 1025px) {
  a {
    transition: all .25s ease-in;
  }

  a:hover {
    opacity: .7;
  }

  /* .link-more a:hover,
  .gr_tag a:hover,
  #footer .f_logo a:hover,
  #footer .f_link li a:hover {
    opacity: 0.7;
  } */
}

@media screen and (max-width: 1024px) {
  body p {
    font-size: 15px;
  }

  .c-ttl01 {
    font-size: 45px;
  }

  #header {
    top: 15px;
    padding: 0 3vw;
  }

  #h_main .inner h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  #h_business,
  #h_works,
  #h_topics,
  #h_aster {
    margin-bottom: 50px;
  }

  #h_business {
    padding-top: 60px;
  }

  #h_business .business_cont {
    max-width: 715px;
    flex-direction: column;
    margin: 0 auto;
  }

  #h_business .business_cont .section {
    max-width: 100%;
    margin: 0 0 30px;
  }

  #h_business .link-more {
    max-width: 715px;
    margin: 50px auto 0;
  }

  #h_topics .topics_list {
    max-width: 600px;
    flex-direction: column;
    margin: 0 auto;
  }

  #h_topics .topics_list li {
    width: 100%;
  }

  #h_topics .topics_list li:not(:last-child) {
    margin-bottom: 20px;
  }

  #h_topics .topics_list figure {
    margin-right: 30px;
  }

  #h_topics .link-more {
    max-width: 600px;
    margin: 50px auto 0;
  }

  #h_works .works_list {
    margin: 0 -10px -30px;
  }

  #h_works .works_list li {
    width: calc((100% - 60px) / 3);
    margin: 0 10px 30px;
  }

  #h_works .works_list .card {
    padding: 20px 15px;
  }

  #h_works .works_list .card h4 {
    font-size: 15px;
  }

  #h_aster .aster_list li {
    width: calc(50% - 15px);
  }

  #footer {
    padding: 40px 0 40px;
    margin-top: 75px;
  }

  #footer .f_txt {
    font-size: 16px;
    margin-bottom: 45px;
  }

  #footer .f_logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {

  #wrapper,
  #header,
  #main,
  #footer,
  .inner,
  .pages .pages_inner {
    width: 100% !important;
    min-width: inherit !important;
  }

  .box_sp {
    display: block;
  }

  .box_pc {
    display: none;
  }

  /* ========== */

  body p {
    font-size: 14px;
  }

  .link-more a {
    font-size: 16px;
  }

  .link-more a::after {
    width: 6px;
    height: 10px;
    top: 1px;
    margin-left: 5px;
  }

  .c-ttl01 {
    font-size: 35px;
  }
  #header  #top {
    width: 100px;
  }
  #header #gnavi .translate {
    margin-right: 30px;
  }

  #header #gnavi .translate a {
    font-size: 22px;
  }
  #h_main{
    min-height: 500px;
    padding: 70px 0 30px;
  }
  #h_main .main_cont {
    max-width: 100%;
  }

  #h_main .inner h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  #h_main .inner .main_txt {
    font-size: 14px;
  }

  #h_works .works_list {
    max-width: 350px;
    flex-direction: column;
    margin: 0 auto -30px;
  }

  #h_works .works_list li {
    width: 100%;
    margin: 0 0 30px;
  }

  #h_aster .aster_list {
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto -30px;
  }

  #h_aster .aster_list li {
    width: 100%;
    margin: 0 0 30px;
  }

  #footer .f_txt {
    font-size: 14px;
  }

  #footer .f_link li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 490px) {
  #h_business .business_cont .business_list {
    max-width: 250px;
    flex-direction: column;
    margin: 0 auto -20px;
  }

  #h_business .business_cont .business_list li {
    width: 100%;
    margin: 0 auto 20px;
  }

  #h_topics .topics_list li {
    flex-direction: column;
  }

  #h_topics .topics_list figure {
    margin: 0 auto 15px;
  }

  #h_topics .topics_list .topics_txt {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 320px) {}