@charset "UTF-8";

/* ------------------------------------------------------
RESET
------------------------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  line-height: 1.875;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
body p {
  font-size: 16px;
}
details,
menu,
figcaption,
figure,
main,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
figure,
figcaption,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

canvas,
audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

table {
  font: inherit;
  font-size: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

/* ------------------------------------------------------
GENERAL
------------------------------------------------------ */
img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* ------------------------------------------------------
Variables
------------------------------------------------------ */
:root {
  --jp-font-family: "Noto Sans JP", "Noto Sans SC", sans-serif;
  --en-font-family: "Roboto", sans-serif;
}

.d_flex {
  --spacing: 20px;
  --column: 3;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
}

.d_flex > * {
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
  text-align: center;
}

/* ------------------------------------------------------
Container
------------------------------------------------------ */
html {
  font-size: 100%;
  font-style: normal;
  background: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-family: var(--jp-font-family);
  color: #000;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 100%;
  max-width: calc(1100px + 6vw);
  position: relative;
  padding: 0 3vw;
  margin: 0 auto;
}

/* ------------------------------------------------------
Header
------------------------------------------------------ */
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 35px;
  left: 0;
  padding: 0 45px;
  margin: 0 auto;
  text-align: left;
}

#header #top a span {
  display: none;
}

#header #top a span.active {
  display: block;
}

#header #gnavi {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

#header #gnavi .translate a {
  display: inline-block;
  color: #999999;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}

#header #gnavi .translate a::after {
  content: "/";
  color: #fff;
  position: relative;
  display: inline-block;
  top: -2px;
  margin: 0 10px;
}

#header #gnavi .translate a:last-child:after {
  content: none;
}

#header #gnavi .translate a.active {
  color: #fff;
}

/* ========== */
.hamburger {
  width: 40px;
  height: 34px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
  margin-left: 40px;
}

.hamburger span {
  background: #fff;
  display: block;
  position: absolute;
  height: 4px;
  transform: rotate(0deg);
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 15px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

.hamburger.active span:nth-child(1) {
  top: 1px;
  transform: rotate(135deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger.active span:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg);
}

/* ------------------------------------------------------
Contents
------------------------------------------------------ */
.c-ttl01 {
  font-family: var(--en-font-family);
  font-size: 65px;
  line-height: 1;
  margin-bottom: 40px;
}
.link-more {
  text-align: right;
}
.link-more a {
  display: inline-flex;
  align-items: center;
  color: #000;
  font-family: var(--en-font-family);
  font-size: 20px;
  font-weight: 700;
  position: relative;
  transition: all 0.25s ease;
}
.link-more a::after {
  content: "";
  width: 8px;
  height: 13px;
  background: url(../images/icon_r.png) no-repeat center;
  background-size: contain;
  display: block;
  position: relative;
  top: 2px;
  margin-left: 7px;
}
.gr_tag a {
  display: inline-block;
  color: #ff6666;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.25s ease;
}
.gr_tag a:not(:last-child) {
  margin-right: 10px;
}
#h_main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/mainv_bg.png) no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 70px 0;
}
#h_main .main_cont {
  max-width: 550px;
}
#h_main .inner h2 {
  font-family: var(--en-font-family);
  font-size: 60px;
  margin-bottom: 80px;
}
#h_main .inner .main_txt {
  font-size: 16px;
}

#h_business {
  padding-top: 250px;
  margin-bottom: 200px;
}
#h_business .business_cont {
  display: flex;
  justify-content: space-between;
}
#h_business .business_cont .section {
  max-width: 330px;
  margin-right: 40px;
  flex-shrink: 0;
}
#h_business .business_cont .section p {
  font-weight: 700;
}
#h_business .business_cont .business_list {
  width: 100%;
  max-width: 715px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -17px -30px;
}
#h_business .business_cont .business_list li {
  width: calc((100% - 102px) / 3);
  margin: 0 17px 30px;
}
#h_business .link-more {
  margin-top: 85px;
}
#h_topics {
  margin-bottom: 200px;
}
#h_topics .topics_list {
  display: flex;
  justify-content: space-between;
}
#h_topics .topics_list li {
  width: calc(50% - 25px);
  display: flex;
  justify-content: space-between;
}
#h_topics .topics_list figure {
  width: 100%;
  max-width: 200px;
  flex-shrink: 0;
  margin-right: 35px;
}
#h_topics .topics_list .topics_txt {
  display: -webkit-box;
  height: calc(1em * 4 * 1.875);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  font-weight: 700;
  margin-bottom: 25px;
}
#h_topics .topics_list .gr_tag {
  display: inline-flex;
  flex-direction: column;
}
#h_topics .link-more {
  margin-top: 100px;
}
#h_works {
  margin-bottom: 200px;
}
#h_works .works_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -27px -30px;
}
#h_works .works_list li {
  width: calc((100% - 165px) / 3);
  max-width: 330px;
  margin: 0 27px 30px;
}
#h_works .works_list .card {
  width: 100%;
  height: 100%;
  min-height: 200px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 25px 20px;
  margin-bottom: 15px;
}
#h_works .works_list .card h4 {
  font-size: 16px;
  color: #fff;
}
#h_works .works_list .card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#h_works .works_list .card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#h_aster .aster_list {
  display: flex;
  justify-content: space-between;
}
#h_aster .aster_list li {
  max-width: calc(50% - 50px);
}
/* ------------------------------------------------------
Footer
------------------------------------------------------ */
#footer {
  background: #000;
  padding: 50px 0 40px;
  margin-top: 250px;
}
#footer .f_txt {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 60px;
}
#footer .f_logo {
  margin-bottom: 80px;
}
#footer .f_logo a {
  transition: all 0.25s ease;
}
#footer .f_link {
  display: flex;
  margin-bottom: 15px;
}
#footer .f_link li:not(:last-child) {
  margin-right: 10px;
}
#footer .f_link li a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.25s ease;
}
#footer .f_link li:not(:last-child) a {
  padding-right: 10px;
  border-right: 1px solid #fff;
}
#footer address {
  color: #fff;
  font-family: var(--en-font-family);
  font-size: 14px;
  font-style: normal;
  
}

/* MOZZILLA CSS */
@-moz-document url-prefix() {
}

/* IE CSS */
@media screen\0 {
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align: auto) {
}
